.itemDetail {
  background-color: #f1faee;
  width: 85%;
  margin: 30px auto;
  text-align: center;
  padding: 10px;
  border: 2px solid #1d3557;
}

.itemDetail__image {
  width: 100%;
}

.btn2 {
  background-color:#008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .itemDetail__image {
    width: 40%;
  }
  
}
