.listContainer {
  width: 85%;
  margin: 10px auto;
  background-color: #1d3557;
  min-height: 200px;
  border: 1px solid #f1faee;
  text-align: center;
  padding: 1rem;
}

.listContainer__content span {
  font-size: 1.3rem;
}
