.Item {
  width: 200px;
  min-height: 300px;
  background-color: #f1faee;
  padding: 1rem;
  display: inline-block;
  margin: 10px 10px;
}

.Item__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.Item img {
  width: 150px;
  height: 150px;
  border: 2px solid grey;
}
