@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* Formateo */

.navBar * {
  margin: 0;
  padding: 0;
  color: white;
}

/* Etiqueta nav */

.navBar {
  background-color: #e63946;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  border-bottom: 1px solid red;
}

/* Hamburguer menu */

.toggleMenu {
  display: none;
}

/* Logo */

.navBar .navBar__title {
  font-size: 2rem;
  padding: 0.6rem;
  font-family: "Lobster", cursive;
}

/* ul & li */

.navBar .navBar__menu {
  display: flex;
  flex-flow: row nowrap;
}

.navBar .navBar__menu li {
  list-style-type: none;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: bold;
}
