.navBar * {
  margin: 0;
  padding: 0;
  color: white;
}

.navBar {
  background-color: grey;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.navBar .navBar__title {
  font-size: 3rem;
}

.navBar .navBar__menu {
  display: flex;
  flex-flow: row wrap;
}

.navBar .navBar__menu li {
  list-style-type: none;
  padding: 10px;
  font-size: 1.5rem;
}
