.Item {
  width: 200px;
  min-height: 300px;
  background-color: white;
  border: 1px solid darkgrey;
  padding: 1rem;
  display: inline-block;
}

.Item__counter {
  border: 1px solid grey;
  background-color: whitesmoke;
}

.Item__button {
  border: none;
  width: 30px;
  height: 30px;
  background-color: white;
  cursor: pointer;
}
