.Item__counter {
  border: 1px solid grey;
  background-color: whitesmoke;
  width: 30%;
  margin: 0 auto;
  min-height: 50px;
}

.Item__button {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 2rem;
  margin: 15px;
}

.Item__stock {
  font-size: 2rem;
}

.btn3 {
  background-color:#f44336;
  border: none;
  color: white;
  padding: 15px 47px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .Item__counter {
    width: 80%;
  }
}
